{% extends "base.html" %}

{% block content %}

    {% if not autos %}
    <div style="margin-top: 20px; background-color: white; padding: 10px 20px; border-radius: 5px; display: inline-block; overflow-y: auto;">
        <h1 style="font-size: 50px; color: #007bff;">Autos</h1>
        <p style="margin-top: 10px;">There are no autos in the library.</p>
        <p style="margin-top: 10px;">
            {% if makeCount > 0 %}
            <div style="text-align: right;">
                <button class="plus" id="openModalBtnAuto" style="border-radius: 5px; margin-top: 10px; padding-top: 5px; right: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                </svg></button>
            </div>
            {% else %}
                Please add a make before you add an auto.
            {% endif %}
        </p>
    </div>
    {% endif %}

{% if autos %}
        <div style="margin-top: 20px; background-color: white; padding: 10px 20px; border-radius: 5px; display: inline-block;">
        <h1 style="font-size: 50px; margin: 0px 0px 20px 0px; color: #007bff;">Autos</h1>
            <ul style="list-style-type: none; padding: 0; text-align: center;">
                {% for auto in autos %}
                    <li style="margin-bottom: 10px; display: flex; align-items: center;">
                        {{ forloop.counter }}. {{ auto.nickname }} - {{ auto.make }} ({{ auto.mileage }} miles)
                        <button id="openModalBtnAutoUpdate" class="edit" style="background-color: transparent; border: none; cursor: pointer;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
                        </svg></button>
                        <form action="{% url 'autocrud:auto_delete' auto.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="delete" style="border: none; background-color: transparent; display: block;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg></button>
                        </form>
                    </li>
                    <div id="myModalAutoUpdate" class="modalAutoUpdate">
                        <div class="modal-contentAutoUpdate">
                            <div style="text-align: center;">
                                <h2 style="margin-bottom: 20px">Adding an auto</h2>
                                <form action="{% url 'autocrud:auto_update' auto.id %}" method="POST" style="display: inline-block; text-align: left;">
                                    {% csrf_token %}
                                    <label for="name" style="display: inline-block;">Nickname:</label>
                                    <input type="text" name="name" placeholder="Camaro" required style="display: inline-block; margin-bottom: 10px;">
                                    <br>
                                    <label for="mileage" style="display: inline-block;">Mileage:</label>
                                    <input type="number" min="0" onkeydown="return event.keyCode !== 69" name="mileage" placeholder="Ex: 20000" required style="display: inline-block; margin-bottom: 10px">
                                    <br>
                                    <label for="make" style="display: inline-block;">Make:</label>
                                    <select name="make" style="display: inline-block;" required>
                                        {% for make in makes %}
                                            <option value="{{ make.id }}">{{ make.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                    <div style="padding: 10px; text-align: center;">
                                        <input type="submit" value="Editar" class="input">
                                        <input type="button" value="Cancelar" class="closeAutoUpdate">
                                        <input type="hidden" name="auto">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endfor %} 
            </ul>
                {% if makeCount > 0 %}
                    <div style="text-align: right;">
                        <button class="plus" id="openModalBtnAuto" style="border-radius: 5px; margin-top: 10px; padding-top: 5px; right: 0px;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2"/>
                        </svg></button>
                    </div>
                {% else %}
                    <p style="margin-top: 10px;">Please add a make before you add an auto.</p>
                {% endif %}
        </div>
{% endif %}
        
        <p style="margin-top: 30px;">
            <a href="{% url 'autocrud:makes' %}" class="viewmakes">View makes ( {{ makeCount }} )</a>
            <button class="plus" id="openModalBtn" style="padding: 10px; margin-left: 26px;">Add a make</button>
        </p>
    
        <div id="myModal" class="modal">
            <div class="modal-content">
                <h2 style="margin-bottom: 20px">Adding a make</h2>
                <form action="{% url 'autocrud:make_create' %}" method="POST">
                    {% csrf_token %}
                    <label for="name">Nome:</label>
                    <input type="text" name="name" placeholder="Ex: Volkswagen" required>
                    <div style="padding: 10px;">
                        <input type="submit" value="Criar" class="input">
                        <input type="button" value="Cancelar" class="close">
                        <input type="hidden" name="auto">
                    </div>
                </form>
            </div>
        </div>

    <div id="myModalAuto" class="modalAuto">
        <div class="modal-contentAuto">
            <div style="text-align: center;">
                <h2 style="margin-bottom: 20px">Adding an auto</h2>
                <form action="{% url 'autocrud:auto_create' %}" method="POST" style="display: inline-block; text-align: left;">
                    {% csrf_token %}
                    <label for="name" style="display: inline-block;">Nickname:</label>
                    <input type="text" name="name" placeholder="Camaro" required style="display: inline-block; margin-bottom: 10px;">
                    <br>
                    <label for="mileage" style="display: inline-block;">Mileage:</label>
                    <input type="number" min="0" onkeydown="return event.keyCode !== 69" name="mileage" placeholder="Ex: 20000" required style="display: inline-block; margin-bottom: 10px">
                    <br>
                    <label for="make" style="display: inline-block;">Make:</label>
                    <select name="make" style="display: inline-block;" required>
                        {% for make in makes %}
                            <option value="{{ make.id }}">{{ make.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <div style="padding: 10px; text-align: center;">
                        <input type="submit" value="Criar" class="input">
                        <input type="button" value="Cancelar" class="closeAuto">
                        <input type="hidden" name="auto">
                    </div>
                </form>
            </div>
            
        </div>
    </div>

{% endblock %}