{% extends "autolist.html" %}

{% block AutoUpdate %}
    <div id="myModalAutoUpdate" class="modalAutoUpdate">
        <div class="modal-contentAutoUpdate">
            <div style="text-align: center;">
                <h2 style="margin-bottom: 20px">Adding an auto</h2>
                <form action="{% url 'autocrud:auto_update' autoId %}" method="POST" style="display: inline-block; text-align: left;">
                    {% csrf_token %}
                    <label for="name" style="display: inline-block;">Nickname:</label>
                    <input type="text" name="name" value="{{auto.nickname}}" required style="display: inline-block; margin-bottom: 10px;">
                    <br>
                    <label for="mileage" style="display: inline-block;">Mileage:</label>
                    <input type="number" min="0" onkeydown="return event.keyCode !== 69" name="mileage" value="{{auto.mileage}}" required style="display: inline-block; margin-bottom: 10px">
                    <br>
                    <label for="make" style="display: inline-block;">Make:</label>
                    <select name="make" style="display: inline-block;" required>
                        <option value="{{ auto.make_id }}" selected>{{ auto.make.name }}</option>
                        {% for make in makes %}
                            {% if make.id != auto.make_id %}
                                <option value="{{ make.id }}">{{ make.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <br>
                    <div style="padding: 10px; text-align: center;">
                        <input type="submit" value="Editar" class="input">
                        <a href="{% url 'autocrud:autos' %}"><input type="button" value="Cancelar" class="closeAutoUpdate"></a>
                        <input type="hidden" name="auto">
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock AutoUpdate %}