{% extends "makelist.html" %}

{% block MakeUpdate %}

<div id="myModalMakeUpdate" class="modalMakeUpdate">
    <div class="modal-contentMakeUpdate">
        <h2 style="margin-bottom: 20px">Updating a make</h2>
        <form action="{% url 'autocrud:make_update' make.id %}" method="POST">
            {% csrf_token %}
            <label for="name">Nome:</label>
            <input type="text" name="name" value="{{ make.name }}" required>
            <div style="padding: 10px;">
                <input type="submit" value="Criar" class="input">
                <a href="{% url 'autocrud:makes' %}"><input type="button" value="Cancelar" class="closeMakeUpdate"></a>
            </div>
        </form>
    </div>
    </div>

{% endblock MakeUpdate %}